*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/java/com/example/gleb/mediumme/api/BuildApiConfig.kt
app/libs/
app/src/main/res/drawable/
src/main/java/com/example/gleb/mediumme/BuildApiConfig.kt
